<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
    </head>

    <body>
    <h1>Buster's Best Bowling Alley</h1>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>
    <p>97 Bowling Alley Lane, Boulder CO</p>

    <%= "I love " + "Ruby!!" %>
    <%= 1 + 1 %> <%# displays as "2" in browser%>
    <h1><%= "I love " + "Ruby!!" %></h1>


    <%# NOTES FROM "Using ERB" LESSON: %>

    <%# A method called logged_in? that returns true if a user is logged in and false if they're not  %>
    <% if logged_in? %>
    <a href="/logout">Click here to Log Out</a>
    <% else %>
    <a href="/login">Click here to Log In</a>
    <% end %>

    <%# Use iteration to manage lists of items %>
    <ul>
    <% squares = [1, 4, 9, 16] %>
    <% squares.each do |square| %>
    <li><%= square %></li>
    <% end %>
    </ul>
    <%# displays: %>
    <%# <ul>
    <li>1</li>
    <li>4</li>
    <li>9</li>
    <li>16</li>
    </ul> %>

    <%# Print out all of the wall posts on a given profile page. 
    && store the posts in an array called wall_posts %>
    <%# Variable called wall_posts and assigning its value to an array of strings.  %>
    <% wall_posts = ["First post!", "Second post!", "Hello, it's your mother. Why don't you ever call me?"] %>

    <%# Now we can iterate through our wall_posts array and create a new <li> item for each one. %>
    <ul>
    <% wall_posts.each do |post| %>
    <li><%= post %></li>
    <% end %>
    </ul>
    <%# displays:
    <ul>
    <li>First Post!</li>
    <li>Second Post!</li>
    <li>Hello, it's your mother. Why don't you ever call me?</li>
    </ul> %>

    </body>
</html>